@charset "UTF-8";
/* =========================================================================== */
/*  レスポンシブル設定
/* （変数では指定できない為、オンコーディング）
/*    Tablet系, NotePC系 [Default] (横3列)
/*    iPhone系 (横2列)
/*      --mobile-break-point: max-width:  420px and orientation: portrait;
/*      --mobile-break-point: max-height: 420px and orientation: landscape;
/*    DesktopPC系 (横4列)
/*      --desktop-break-point:min-width: 1300px;
/*  ニュースリストを移動
/*    iPhone系, max-width: ～900px縦
/* =========================================================================== */
:root {
    --item-title-row: 40px;

    --tablet-top-row: 220px;
    --tablet-top-img: 190px;
    --tablet-grid-column: 250px;
    --tablet-grid-row: 160px;
    --tablet-item-img: 100px;

    --mobile-grid-column: 180px;
    --mobile-grid-row: 120px;
    --mobile-item-img: 80px;

    --desktop-top-row: 250px;
    --desktop-top-img: 230px;
    --desktop-grid-column: 300px;
    --desktop-grid-row: 230px;
    --desktop-item-img: 150px;
}
/* =========================================================================== */
/*  レスポンシブレイアウト [Grid] 設定
/* =========================================================================== */
/* Tablet [default] [Topics] + [4列 x 1行] + [4列 x 1行] */
.containers {
    display: grid;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: small;
    margin: 10px auto;
    width: calc((var(--tablet-grid-column) * 4) + 1rem);
    grid-template-columns: repeat(4, var(--tablet-grid-column));
    grid-template-rows: var(--tablet-top-row) var(--item-title-row) var(--tablet-grid-row) var(--item-title-row) var(--tablet-grid-row);
}
.containers a {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}
.containers .item-top {
    background: rgb(230, 230, 230, 0.8);
    border: 1px solid rgb(230, 230, 230, 1);
    border-radius: 0.5rem;
    margin: 0.5rem 0 0.5rem 1rem;
    text-align: center;
    grid-column: 1 / 2;
}
.containers .item-top:hover{
    background: rgb(204 ,230 ,250,1);
}
.containers .topimg {
    height: var(--tablet-top-img);
    padding: 0.3rem 0rem;
}
.containers #news-list {
    margin: 2rem 2rem 0 3rem;
    grid-column: 2 / 5;
}
.containers #news-list p {
    color: #777;
    margin: 0 0 0 0.2rem;
}
.containers #news-list hr {
    border-style: none;
    border-top: 0.1rem solid #ddd;
    margin: 0.2rem;
}
.containers .item-title {
    color: #555;
    font-size: 1.3rem;
    font-weight: 900;
    margin: 0.5rem 0 0rem 2rem;
    grid-column: 1 / 5;
}
.containers .item {
    background: rgb(0, 168, 169, 0.1);
    border: 0.1rem solid rgb(0, 168, 169, 0.1);
    /*background: rgb(230, 230, 230, 0.8);*/
    /*border: 0.2rem solid rgb(230, 230, 230, 0.6);*/
    border-radius: 1rem;
    box-shadow: 2px 2px 4px gray;
    margin: 0rem 0rem 1rem 1rem;
    font-size: large;
    font-weight: 600;
    text-align: center;
}
.containers .item:hover{
    background: rgb(204 ,230 ,250,1);
}
.containers .itemimg {
    height: var(--tablet-item-img);
    padding: 0.5rem 0 0 0;
}
.containers .itemtext {
    font-size: 1.2rem;
}
/* tablet-portrait(縦)-size: ～900px [3列 x 2行] + [3列 x 1行] + [Topics] */
@media screen and (max-width: 900px) and (orientation: portrait) {
    .containers {
        width: calc((var(--tablet-grid-column) * 3) + 1rem);
        grid-template-columns: repeat(3, var(--tablet-grid-column));
        grid-template-rows: var(--item-title-row) repeat(2, var(--tablet-grid-row)) var(--item-title-row) var(--tablet-grid-row) calc(var(--tablet-grid-row)*1.5);
    }
    .containers .item-top {
        display: none;
    }
    .containers #news-list {
        margin: 1rem;
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }
    .containers .item-title {
        grid-column: 1 / 4;
    }
}
/* HP表示なし、ニュースリストを最下行に移動 ～420px横, ～420px縦 [2列 x 2行] + [2列 x 1行] + [Topics] */
@media screen and (max-height:500px) and (orientation: landscape) and (max-width:800px),
       screen and (max-width: 500px) and (orientation: portrait) {
    .containers {
        width: calc((var(--mobile-grid-column) * 2) + 1rem);
        grid-template-columns: repeat(2, var(--mobile-grid-column));
        grid-template-rows: var(--item-title-row) repeat(2, (--mobile-grid-row)) var(--item-title-row) var(--mobile-grid-row);
    }
    .containers .item-top {
        display: none;
    }
    .containers #news-list {
        font-size: x-small;
        margin: 1rem;
        grid-row: 6 / 7;
        grid-column: 1 / 3;
    }
    .containers .item-title {
        font-size: medium;
        margin: 0.2rem 0 0 2rem;
        grid-column: 1 / 3;
    }
    .containers .item {
        margin: 0rem 0rem 0.5rem 1rem;
    }
    .containers .itemimg {
        height: var(--mobile-item-img);
        padding: 0.5rem 0 0 0;
    }
    .containers .itemtext {
        font-size: 0.8rem;
    }
}
/* desktop-pc-size: 1300px～ 未完成(今の所、社内端末はない) [4列 x 5行]  */
@media screen and (min-width: 1300px) and (min-height: 800px) {
    .containers {
        margin-top: 30px;
        background: rgb(250, 250, 250);;
        width: calc((var(--desktop-grid-column) * 4) + 1rem);
        height: calc(100vh - 40px - 40px - 40px);
        grid-template-columns: repeat(4, var(--desktop-grid-column));
        grid-template-rows: var(--desktop-top-row) var(--item-title-row) var(--desktop-grid-row) var(--item-title-row) var(--desktop-grid-row);
    }
    .containers .item-top {
        margin-top: 1.5rem;
    }
    .containers .topimg {
        margin-top: 10px;
    }
    .containers #news-list {
        font-size: 1.3rem;
        margin: 1.5rem 3.5rem 0 4rem;
        grid-column: 2 / 5;
    }
    .containers .item-title {
        grid-column: 1 / 5;
    }
    .containers .itemimg {
        height: var(--desktop-item-img);
        padding: 0.5rem 0 0 0;
    }
    .containers .itemtext {
        font-size: 1.4rem;
    }
    }
